h2{
    text-align: center;
    margin-top: 100px;
}
p{
    text-align: center;
}
form{
    text-align: center;
}
#doctor-container{
    text-align: center;
}
#doctor-container div{
    border: 1px solid black;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}
button{
    margin-bottom: 200px;
}