<mat-toolbar color="primary">
    <button mat-icon-button aria-label="Menu icon" (click)="toggleMenu()">
        <mat-icon>menu</mat-icon>
    </button>
    <h1>{{ currentPageRoute | pageTitle }}</h1>
  </mat-toolbar>
  <mat-sidenav-container autosize>
    <mat-sidenav>
      <mat-nav-list>
        <span class="entry">
          <mat-card>
            <mat-card-content>
              <a routerLink="/DoctorsSchedule">Doctor's Schedule</a>
            </mat-card-content>
          </mat-card>
          <mat-card *ngIf="!AuthService.isLoggedIn">
            <mat-card-content>
              <a routerLink="/Login">Login</a>
            </mat-card-content>
          </mat-card>
          <mat-card *ngIf="!AuthService.isLoggedIn">
            <mat-card-content>
              <a routerLink="/Register">Register</a>
            </mat-card-content>
          </mat-card>
          <mat-card>
            <mat-card-content>
              <a routerLink="/Appointments">Make Appointment</a>
            </mat-card-content>
          </mat-card>
          <mat-card>
            <mat-card-content>
              <a routerLink="/MyAppointments">My Appointments</a>
            </mat-card-content>
          </mat-card>
          <mat-card>
            <mat-card-content *ngIf="doctor()">
              <a routerLink="/AddSchedule">Schedule</a>
            </mat-card-content>
          </mat-card>
          <mat-card>
            <mat-card-content *ngIf="doctor()">
              <a routerLink="/AddDocInf">Add Doctor's information</a>
            </mat-card-content>
          </mat-card>
          <mat-card *ngIf="AuthService.isLoggedIn">
            <mat-card-content>
              <button mat-button color="warn" (click)="logout()">Logout<mat-icon>logout</mat-icon></button>
            </mat-card-content>
          </mat-card>
        </span>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>

  