<mat-toolbar color="primary">
    <button mat-icon-button aria-label="Menu icon" (click)="toggleMenu()">
        <mat-icon>menu</mat-icon>
    </button>
    <h1>{{ currentPageRoute | pageTitle }}</h1>
  </mat-toolbar>
  <mat-sidenav-container autosize>
    <mat-sidenav>
      <mat-nav-list>
        <span class="entry">
            <a routerLink="/DoctorsSchedule">Doctor's Schedule</a>
            <a routerLink="/Login">Login</a>
            <a routerLink="/Register">Register</a>
            <a routerLink="/Appointments">Appointments</a>
            <a routerLink="/MyAppointments">My Appointments</a>
            <a routerLink="/AddSchedule">Schedule</a>
            <a routerLink="/AddDocInf">Add Doctor's information</a>
            <button mat-button color="warn" (click)="logout()" *ngIf="AuthService.isLoggedIn">Logout</button>
        </span>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>

  