h2{
    text-align: center;
    margin-top: 100px;
}
form{
    text-align: center;
}
#schedule-container{
    text-align: center;
}
#schedule-container div{
    border: 1px solid black;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}
.highlight {
    background-color: yellow;
  }